/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-sep-2019, 21:28:06
    Author     : esteban.aquino
*/

#empresa_call {
    color: #f7f7f7;
    font-style: oblique;
}